[submodule "nano-ndk"]
	path = nano-ndk
	url = https://github.com/ArieSR91/nano-ndk
[submodule "adb-ndk"]
	path = adb-ndk
	url = https://github.com/ArieSR91/adb-ndk
[submodule "busybox-ndk"]
        path = busybox-ndk
	url = https://github.com/ArieSR91/busybox-ndk
[submodule "bash-ndk"]
        path = bash-ndk
        url = https://github.com/ArieSR91/bash-ndk
