[submodule "nano-ndk"]
	path = nano-ndk
	url = https://github.com/Magisk-Modules-Repo/nano-ndk
[submodule "adb-ndk"]
	path = adb-ndk
	url = https://github.com/Magisk-Modules-Repo/adb-ndk
[submodule "busybox-ndk"]
        path = busybox-ndk
	url = https://github.com/Magisk-Modules-Repo/busybox-ndk
[submodule "bash-ndk"]
        path = bash-ndk
        url = https://github.com/ArieSR91/bash-ndk
[submodule "FPSUnlocker"]
	url = https://github.com/ArieSR91/FPSUnlocker
	path = FPSUnlocker
[submodule "mtd-ndk"]
	path = mtd-ndk
	url = https://github.com/Magisk-Modules-Repo/mtd-ndk
[submodule "chroot-distro"]
        path = chroot-distro
        url = https://github.com/Magisk-Modules-Alt-Repo/chroot-distro
